body{
  margin: 0;
  padding: 0;
  background-color:aliceblue !important;
}

.title{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
.CardStyle{
  border-radius: 10px;
}

.movieTitle{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight:  300;
  
}
.movieDesc{
  text-transform: initial;
  text-align: justify;
}
.btnClass{
  display: flex;
  justify-content: center;
  align-items: center;
}
